
<nav>
  
  <img src="assets/images/download.png"  alt="" > &nbsp;

  <button (click)="gg()" *ngIf="down" style="float:right;margin:15px;"><a routerLink="/system"  style="text-decoration:none;" > Login</a></button>
  
</nav>
<br><br><br>
<router-outlet></router-outlet>
<table *ngIf="showme">
  <thead>
    <tr>
      <th colspan="3">Availabilty of Books</th>
    </tr>
      <tr>
          <th>ID</th>
          <th>Book Name</th>
          <th>Author</th>
          
      </tr>
  </thead>
  <tbody>
     
         <tr *ngFor="let books of b">
              <td>{{books.id}}</td>
              <td>{{books.name}}</td>
              <td>{{books.author}}</td>
              
            </tr> 

          </tbody>
</table>